.footer {
    background-color: $color-footer;
    display: flex;
    flex-direction: column;
    padding: 1em;

    @media (min-width: $breakpoint-large) {
        flex-direction: row;
    }

}

.form {
    padding: 2em 1em 2em 4em;

    &__submit-button {
        background-color: lighten($color-footer, 7.5);
        border: unset;
        border-radius: 3px;
        color: $color-footer-text;
        font-size: 1.4em;
        font-weight: 900;
        padding: 0.6em 1em;
    }
    &__submit-button:hover {
        background-color: lighten($color-footer, 15);
    }

    @media (min-width: $breakpoint-large) {
        width: 50%;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 70%;

    &__label {
        color: $color-footer-text;
        font-weight: 500;
    }

    &__input {
        background-color: lighten($color-footer, 7.5);
        border: none;
        color: $color-text-primary;
        outline: none;
        padding: 0.5em 1em;

    }    


}
.informations-list {
    @media (min-width: $breakpoint-large) {
        border-left: 1px solid $color-footer-border;
        padding-right: 5em;
        width: 45%;
    }

    &__information {
        border-bottom: 1px solid
        $color-footer-border;
        display: flex;
        flex-direction: column;
        padding-left: 1.8em;

        &:last-child {
            border: none;
        }

        &__icon {
            color: $color-footer-border;
            font-size: 2.4em;
            margin: 0.5em 0;
        }

        &__title {
            color: $color-footer-text;
            margin: 0.5em 0;
            font-weight: 900;
            font-size: 1.5em;
            letter-spacing: 2px;
            
        }

        &__content {
            color: $color-footer-text;
            margin: 0.5em 0 0.9em 0;
            font-weight: 500;
            font-size: 1.1em;
            
        }

    }
}

